.classMaster {
    background: lavender;
    outline-color:#cacde9;
    outline-style:solid;

}
.accordinM{
    margin-left: -12px !important;
}
.classNone {
    background: none;
}
.classNone:focus-within {
    background: pink;
    border: 5px solid green;

}

.highlight {
   /* background-color: rgb(243, 242, 242);*/
}

.backgroundColor {
    background-color: rgb(0, 112, 210);
    color:white;
}
 
.backgroundNoColor{
    background-color: rgb(247, 247, 247)
}
/*::selection{
    color:black;
    background: grey;
}*/